# ignore test file
backend/test_model.py

# ignore python venvs
backend/venv/
backend/.venv/
.venv/

# python/cache
__pycache__/
*.py[cod]

# env/secrets
.env

# mac
.DS_Store

# IDE settings
.vscode/

#ignore config_local
extension/config_local.js




#config local/dev
extension/config_local.js

